.orange-btn {
    width: 171px;
    height: 50px;
    border-radius: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background: $orange;
}