.contact {
    height: 483px;
    padding-top: 57px;
    background: #1A1A1A;
    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: $gray;
    }
    &__wrapper {
        height: 230px;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    &__round {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #252525;
        position: relative;
        display: inline-block;
        float: left;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__phone {
        display: inline;
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $gray;
        margin-left: 15px;
        margin-top: -15px;
    }
    &__subtitle {
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #999999;
        margin-left: 65px;
    }
    &__descr {
        margin-top: 14px;
    }
    &__email {
        display: block;
        margin-left: 65px;
    }
    a:hover {
        color: #999999;;
    }

    &__arrow-wrapper {
        margin-top: 29px;
        height: 207px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__arrow {
        display: block;
        float: left;
    }
    &__arrow-text {
        margin-left: 7px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #999999;
    }

    &__coupon-wrapper {
        width: 370px;
        height: 220px;
        border: 1px dashed #404040;
    }
    &__coupon-title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height:37px;
        color: $gray;
        text-align: center;
        margin-top: 49px;
        span {
            font-weight: 900;
            font-size: 55px;
            line-height: 22px;
            text-transform: uppercase;
            color: $orange;
        }
    }
    &__code {
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: $gray;
        text-align: center;
        margin-top: 50px;
        span {
            text-transform: uppercase;
            color: $orange;
        }
    }
}