.experience {
    width: 100%;
    height: 160px;
    padding: 55px 0;
    background: url(../img/bricks.jpg) center (center/cover) no-repeat;
    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
        text-align: left;
        color: $txtTitle;
        margin-top: 14px;
    }
    &__btn {
        span {
            margin-left: 10px;
        }
    }
}